html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
}

*{
    box-sizing: border-box;
}

#fill-coffee-demo{
    position: fixed;
    height: 100%;
    display: grid;
    place-content: center;
    left: 2rem;

    #load-percent{
        transform: rotate(-90deg);
    }
}

$background-color: #efb54a;
$cup-width: 180px;
$cup-height: 140px; // max 160px
$cup-thickness: 6px;
$cup-inside-spacing: 6px;
$handle-width: 40px;
$handle-height: 70px;

body{
    background-color: $background-color;
}

.cup-wrapper{
    display: flex;
    align-items: flex-start;
}

.cup{
    display: flex;
    align-items: flex-start;

    .cup-body{
        height: $cup-height;
        width: $cup-width;
        border: $cup-inside-spacing solid $background-color;
        position: relative;
        border-radius: 0 0 70px 70px;
        overflow: hidden;
        box-shadow: 0 0 0 $cup-thickness white;

        .coffee{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
            background-image: url(./../assets/coffee.png);
            background-repeat: repeat-x;
            background-position: 0 $cup-height;
            animation: fill-cup 2.5s infinite;
            transition: .2;
        }

    }

    .cup-handle{
        height: $handle-height;
        width: $handle-width;
        background-color: transparent;
        border: $cup-thickness solid white;
        margin-top: 5px;
        border-radius: 0 25px 80px 0;
    }
}

@keyframes fill-cup {
    0%{
        background-position: 0 0;
    }
    20%{
        background-position: -450px 0;
    }
    40%{
        background-position: -900px 0;
    }
    80%{
        background-position: -1350px 0;
    }
    100%{
        background-position: 0 0;
    }
    
}